<p>
  <strong>Nom du constructeur :</strong>
  <%= @constructeur.name %>
</p>

<%= link_to 'Modifier', edit_constructeur_path(@constructeur), class:'btn btn-warning' %>
<%= link_to 'Retour', constructeurs_path, class:'btn btn-primary' %>
